@import "tailwindcss";

@theme {
  --color-primary: #ff90e8;
  --color-secondary: #ffc900;
  --color-accent: #23a094;
  --color-bg-base: #fff0d4;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-base);
}
